.challengeCardContainer{
    width: 389px;
    height: 183px;
    min-width: 389px;
    min-height: 183px;
    background-color: #f5f5f5; 
    position: relative;
    border-radius: 7px;
    margin-right: 22px;
}
.waveStyle{
    width: 100%;
    height: 100%;
    position:absolute;
    z-index: 1;
    opacity: 0.8;
}
.challengeInfoContainer{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    box-sizing: border-box;
    border: 1px solid #161616;
}
.nameAndSettings{
    width: 100%;
    height: 22%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.8%;
    /* background-color: yellow; */
}
.challengeName{
    font-family: cairo;
    line-height: 23px;
    font-size: 16px;
    font-weight:  normal;
    font-style: normal;
    color: #161616;
    text-decoration: none;
    cursor: default;
}
.challengeDetails{
    height: 13%;;
    width:100%;
    display: flex;
    flex-direction: row;
}
.infoField{
    width: 30%;
    height:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.challengeMembers{
    display: flex;
    flex-direction: row;
    margin-left: 12px;
}
.joinChallenge{
    position: absolute;
    right: 5%;
}