a
{
  font-family: cairo;
	font-size: 28px;
	font-weight:  bold;
  font-style: normal;
  color: black;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  margin-top: 3%;
  line-height: 40px;
}
.NavBarContaier{
  background-color: white;
  height: 100vh;
  width: 20.8%;
  padding-left: 1.8%;
  overflow: hidden;
  box-sizing: border-box;
  flex-flow: row-reverse wrap;

}
.menuContainer
{
  margin-top: 21%;
  width: 100%;
}
.logo{
  margin-left: 22.4%;
  display:unset;
}
.l{
  margin-bottom: 1%;
}
.svgStyle
{
  width: 40px;
  height: 40px;
  display: block;
  margin-right: 5%;
  /* background-color: red; */

}
.labelContainer{
  padding-top: 50px; 
  width: 245px;
}

