*:focus{
    outline: none
}
.bookInfoContainer{
    width: 85%;
    min-height: 400px;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 7px;
    box-shadow:2px 2px 2px 2px rgb(212, 211, 211);

}
.rating{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.bookStyle{
    width: 190px;
    height:300px;
    border-radius: 7px;
    margin-left: 20px;
    margin-top: 45px;
    min-height: 300px;
    min-width: 190px;
    max-height: 300px;
    max-width: 190px;
}
.bookInfo{
    width: 65%;
    height: fit-content;
    margin-left: 30px;
    margin-top: 30px;
    overflow: hidden;
    /* background-color: yellow */

}