.listContainer{
    width: 850px;
    height: 194px;
    display: flex;
    list-style: none;
    align-items: center;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    overflow-x: scroll;
  }
  .listShadow{
  height: 184px;
  width: 850px;
  top: -194px; 
  background: rgb(94,94,94);
  background: linear-gradient(90deg, rgba(94,94,94,0.7) 0%, 
  rgba(145,145,145,0.2) 2%, 
  rgba(229,229,229,0) 4%, 
  rgba(229,229,229,0) 96%, 
  rgba(145,145,145,0.2) 98%, 
  rgba(94,94,94,0.7) 100%);
  background-blend-mode: darken;
  position: relative;
  pointer-events: none;
  z-index: 3;
}
.l{
  background: rgb(94,94,94);
  background: linear-gradient(90deg, rgba(94,94,94,0) 0%, 
  rgba(145,145,145,0) 2%, 
  rgba(229,229,229,0) 4%, 
  rgba(229,229,229,0) 96%, 
  rgba(145,145,145,0.2) 98%, 
  rgba(94,94,94,0.7) 100%);
}
.r{
  background: rgb(94,94,94);
  background: linear-gradient(90deg, rgba(94,94,94,0.7) 0%, 
  rgba(145,145,145,0.2) 2%, 
  rgba(229,229,229,0) 4%, 
  rgba(229,229,229,0) 96%, 
  rgba(145,145,145,0) 98%, 
  rgba(94,94,94,0) 100%);
}