.friendContainer{
    width: 43px;
    height: 43px;
    position: relative;
    margin: 0;
    margin-right: 10px;
}
.friendImg{
    height: 43px;
    width: 43px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
}