.profileContainer{
    margin-top: 5%;
    width: 85%;
    height: auto;
    position: relative;
    justify-content: center;
    display: flex;
}
.profileInfo{
    width: 85%;
    height: 210px;
    top:60px;
    background-color: white;
    border-radius: 7px; 
    position: absolute;
    z-index: 0;
    display: block;
    text-align: center;
    box-shadow:-.1px 2px 3px 2px rgb(212, 211, 211);

}
.profileText{
    font-family: cairo;
    line-height: 30px;
    font-size: 20px;
    font-weight:  bold;
    font-style: normal;
    color: #1C1C1C;
    text-decoration: none;
}
.profilePosts{
    margin-top: 320px; 
    width: auto;
    height: 500px;
}
.editButton{
    width: 80px;
    height: 25px;
    margin-top: 10px;
    background-image: linear-gradient(-30deg, #68DC6F , #5FC56A , #5FC56A, #52A662,#42a662);
    color: aliceblue;
    border: none;
    text-align: center;
    cursor: pointer;
    font-family: sans-serif;
    border-radius: 6px;
}
.fieldRow{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-around;
    width: 100%;
    height:22px
}
.filetype{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: -1;   
}