.cardContainer{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;
    margin-bottom: 6.3%;
}
.bookContainer{
    width: 19.6%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-radius: 7px;
}
.infoContainer{
    height: 100%;
    width: 100%;
    padding-left: 4%;
    position: relative;
}
.cardHeader{
    width: 100%;
    height: 16%;
    display: flex;
    flex-direction: row;
}
.text{
    font-family: cairo;
    line-height: 40px;
    font-size: 28px;
    font-weight:  bold;
    font-style: normal;
    color: #1C1C1C;
    text-decoration: none;
    cursor: pointer;
}
.iconContainer{
    width: 30px;
    height: 30px;
    margin-left: auto;
    align-self: center;
    margin-top:0;
}
.footerContainer{
    width: 95%;
    height:20%;
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: 0px;
}
.actionContainer{
    width: 100px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}
.buttonContainer{
    width: 215px;
    height: 100%;
    background-color: #17bf63;
    margin-left: auto;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.buy{
    width: 45%;
    height: 70%;;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #51cf8a;
    margin: 0;
}
section:last-child {
    margin: 0;
}