.topBar{
    margin-top: 3.7%;
    width:85%;
    height: 13%;
    display: flex;
    justify-content: space-between;
    align-items: center;  
  }
  .topBarUser{
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .userAvatar{
    height: 75px;
    width: 75px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
  }
  .userName{
    font-family: 'Cairo';
    margin-left: 18px;
    line-height: 40px;
    font-size: 28px;
    font-weight:  bold;
    font-style: normal;
    color: black;
    text-decoration: none;
    cursor: pointer;
    margin-top: 0;
  }
  .searchField{
    width: 31%;
    height: 38%;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 49px;
    display: flex;
    align-items: center;
  }
  .searchIcon{
    margin-left: 9.14px;
    margin-left: 4%;
  }
  .inputSearch{
    background: transparent;
    border: none;
    margin-left: 2%;
    width: 80%
  }