.homeCardContainer{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 22px;     
}
.cover{
    width: 115px;
    height:183px;
    min-height: 183px;
    min-width: 115px;
    max-height: 183px;
    max-width: 115px;
    border-radius: 7px;
}

.expand{
    width: 274px;
    border: 20px;
    height: 165px;
    overflow: hidden;
    background: #FFFFFF;
    transition: all 1s ease;
    border: 1px solid #161616;
    box-sizing: border-box;
    border-radius: 7px;
    border-left: none;
    border-bottom-left-radius: unset;
    border-top-left-radius: unset;
}
.header{
    width: 243.5px;
    height: 32px;
    margin-left: 8.4px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 15px;

}
.progressText{
    font-family: cairo;
    line-height: 30px;
    font-size: 22px;
    font-weight:  bold;
    font-style: normal;
    color: #1C1C1C;
    text-decoration: none;
    cursor: default;
}
.bookNameContainer{
    width: 255.06px;
    height: 61px;
    margin-left: 9.82px;
    margin-top: 2px;    
}
.percentage{
    height: 23px;
    width: 80px;
    margin-top: 13px;
    margin-left: 9px;
    display: flex;
    align-items: center;
    /* background-color: yellow */
}
.collapse1{
    transition: all 1s ease;
    width: 0px;
    height: 165px;
    overflow: hidden;
    border: 0px solid #161616;
    box-sizing: border-box;
    border-radius: 7px;
    border-left: none;
    border-bottom-left-radius: unset;
    border-top-left-radius: unset;
  }
  .progressBar{
    position: relative;
    left:8.91px;
    bottom:6px;
    width:220px;
    padding-right:9pxc;
  }
  .ratingContainer{
      color: #161616;
      width:100px;
      height: 50px;
  }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
 