.homeContainer{
    background-color: #f5f5f5;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 100vh;

}
.homeHeader{
    height: 18.5%;
    width:90.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3.7%;
}
.homeText{
    font-family: 'cairo';
    line-height: 52px;
    font-size: 36px;
    font-style: normal;
    font-weight: normal;
    color: black;
    text-decoration: none;
    cursor: pointer;
    margin: 0;
}
.textContainer{
    margin-top:8px;
    height: 92%;
    width:50%;
}
.homeUser{
    height: 110px;
    width: 110px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin-right: 5%;
}
.searchField{
    width: 100%;
    height: 38%;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 49px;
    display: flex;
    align-items: center;
  }
  .searchIcon{
    margin-left: 9.14px;
    margin-left: 4%;
  }