@font-face {
  font-family: 'Cairo';
  src: local('Cairo'), url(../../assets/fonts/Cairo-Light.ttf) format('woff');
}

input:focus{
    outline: none;
}
.test{
  width: 100px;
  height: 100px;
  margin-top: 50px;
  background-color: red;
}
.discoverContainer {
  background-color: #f5f5f5;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 100vh;
}
.discoverStyle{
  margin-left: 10.10%;
  width: 70%;
  height: 100vh;
  min-height: 100vh;
  overflow-y: scroll;
}

.suggestions{
  width: 90%;
  height: 46.5%;
  margin-top: 2.1%;
  max-height: 50vh;
}
.listHeader{
  width: 93.8%;
  height: 25.2%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.forYou{
  font-family:'Cairo';
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 144%;
  color: #000000;
}
.seeMoreContainer{
  height: 58%;
  width: 18.5%;
}
.seeMore{
  font-family:'cairo';
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 144%;
  color: #17BF63;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.listShadow{
  height: 183px;
  width: 100%;
  top: -193px; 
  background: rgb(94,94,94);
  background: linear-gradient(90deg, rgba(94,94,94,0.7) 0%, 
  rgba(145,145,145,0.2) 2%, 
  rgba(229,229,229,0) 4%, 
  rgba(229,229,229,0) 96%, 
  rgba(145,145,145,0.2) 98%, 
  rgba(94,94,94,0.7) 100%);
  background-blend-mode: darken;
  position: relative;
  pointer-events: none;
}
.listContainer{
  width: 100%;
  height: 100%;
  display: flex;
  list-style: none;
  align-items: center;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  overflow-x: scroll;
}
.discoverSectionContainer{
  height: 8%;
  width: 64%;
  margin-left: 11.2%;
  margin-top: 5.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 7px;
  background-color: white;
}
.discoverSectionText{
  font-family: 'cairo';
  line-height: 30px;
	font-size: 28px;
  font-style: normal;
  font-weight: normal;
  color: black;
  text-decoration: none;
  cursor: pointer;
  margin: 0;

}
.horizontalListContainer{
  height: 160%;
  width: 86%;
  margin-top: 70px;
  overflow-y: scroll;
  margin-bottom: 20%;
  padding: 0;

}
::-webkit-scrollbar{
  width: 10px;
  height: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-track{
  border-radius: 0px;
}
::-webkit-scrollbar-thumb{
  background: #b2b4b8;
  border-radius: 10px;
}
