.postContainer{
    width: 600px;
    height: fit-content;
    min-height: 179px;
    padding-top: 1px;
    background: #FFFFFF;
    box-sizing: border-box;
    border: 1px solid #161616;
    border-radius: 7px;
    position: relative;
    margin-bottom: 20px;
}
.postHeaderContainer{
    width: 94%;
    height: fit-content;
    min-height: 71px;
    margin-top: 15px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
}
.creatorImg{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    margin-right: 20px;
}
.headerTextContainer{
    width:580px;
    height: fit-content;
    min-height: 71px;
}
.postText{
    font-family: cairo;
    line-height: 32px;
    font-size: 24px;
    font-weight:  bold;
    font-style: normal;
    color: #161616;
    text-decoration: none;
    cursor: default;

}
.postChallenge{
    width: 94%;
    height: 89px;
    margin-left: 20px;
    margin-top: 20px;
    background: #FFFFFF;
    border: 1px solid #C4C1C1;
    box-sizing: border-box;
    border-radius: 7px;
    margin-bottom: 60px;
    padding-left: 15px;
}
.challengeInfo{
    height: 23px;
    width:60%;
    display: flex;
    flex-direction: row;
}
.info{
    width: 32%;
    height:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.challengeFooter{
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border-top: 1px solid #161616;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    
}
.firstStatContainer{
    margin-left: 20px;
    width: fit-content;
    height: 99%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.secondContainer{
    margin-right: 20px;
    width: fit-content;
    height: 99%;
    display: flex;
    flex-direction: row;
    align-items: center;
}