.card {
    background-color: white;
    width: 100%;
    height: 100%;
    margin-top: 0%;
    display: flex;
    list-style: none;
    align-items: center;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    overflow-x: hidden;
    font-family: cairo;
}

.cardDetails {
    width: 50%;
    height: 100%;
    margin-top: 5%;
    margin-left: 5%;
    background: linear-gradient(90deg, #FFFFFF 0%, #FFFFFF 86.54%, rgba(255, 255, 255, 0) 98.08%);
    position: relative;
}

.cardBookImg {
    width: 50%;
    height: 100%;
}

.leftBookImageCover{
    width: 100%;
    height:100%;
    box-shadow: black;
    opacity: 0.7 .1 .1 .1;
    -webkit-mask-image: -webkit-linear-gradient(right, rgba(0,0,0,1), rgba(0,0,0,0));
}

.Cover{
    width: 115px;
    height:183px;
    border-radius: 7px;
    position: relative;
    top: -80%;
    left: 35%;
}

.bookAuthor {
    color: gray;
}

.bookName {
    font-weight: bold;
}

.leftFriendCard{
    width: 150px;
    position: absolute;
    bottom: 10%;
    left: 55%;
}