.container
{
    zoom: 200%;
    background-color: white;
    text-align: center;
    padding-bottom: 20px;
    background-size: 300%;
    width: 30%;
    margin-left: 35%;
    height: 18rem;
    margin-top: 10%;
}
.form
{
  padding-top: 5px;
  display: inline-block;
}
.navBar
{
  text-align: left;
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 10px;
  font-style: normal;
  font-family: sans-serif;
  color: black;
  margin-left: 9px;
}
.textInput
{
  font-style: normal;
  width: 95%;
  height: 27px;
  border: solid;
  border-color: #DADEE3;
  border-radius: 2px;
  font-family: sans-serif;
  font-size: x-small;
  margin: 5px;
  padding: 5px;
}
.textInput2
{
  text-align: left;
  font-style: normal;
  border: solid;
  border-color: #DADEE3;
  border-radius: 2px;
  font-family: sans-serif;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
}
.textInput:focus
{
  outline-color: green;
}
.Alert
{
  float: left;
  margin-left: 15px;
  font-size: small;
  color: red;
}
.btn-grad {
  background-image: linear-gradient(-30deg, #68DC6F , #5FC56A , #5FC56A, #52A662,#42a662);
  background-size: 200%;
  width: 80%;
  border-radius: 6px;
  color: aliceblue;
  border: none;
  text-align: center;
  cursor: pointer;
  font-style: normal;
  font-family: sans-serif;
  height: 30px;
  margin-top: 5px;
  background-size: 300%;
  -webkit-animation: Gradient 5s ease infinite;
  -moz-animation: Gradient 5s ease infinite;
  animation: Gradient 5s ease infinite;
}
.btn-grad:focus
{
  outline: none; 
}
.labelStyle
{
  color: black;
}
.attribute
{
  text-decoration: none;
  color: #17BF63;
  font-size: small;
  margin-left: 1%;
  display: inline;
}
@-webkit-keyframes Gradient {
  0% {
  background-position: 0% 50%
  }
50% {
background-position: 100% 50%
}
100% {
background-position: 0% 50%
}
}

@-moz-keyframes Gradient {
  0% {
  background-position: 0% 50%
  }
50% {
background-position: 100% 50%
}
100% {
background-position: 0% 50%
}
}

@keyframes Gradient {
  0% {
  background-position: 0% 50%
  }
50% {
background-position: 100% 50%
}
100% {
background-position: 0% 50%
}
}

